Flask
Flask-JWT-Extended
Flask-REST-JSONAPI
Flask-RESTful
flask-shell-ipython
Flask-SQLAlchemy
Flask-WTF
# Extensions.
flask-debugtoolbar
Flask-Mail
Flask-Login
Flask-Limiter
Flask-Babel
Flask-Static-Digest
Flask-Secrets
Flask-DB
Flask-Bcrypt
Flask-Caching
flask-cors
flask-sitemap
flask-oauthlib
requests
beautifulsoup4
celery
python-dotenv
redis
SQLAlchemy
gunicorn
alembic